.expense-item {
    display: flex;
    justify-content: space-between;
    width: 97%;
    font-size: 20px;
    height: 4.5rem;
    align-items: center;
    padding: 0.5rem;
    margin: 1rem auto 1rem auto;
    background-color: #4b4b4b;
  }
  
  
  
  
  