.expense-form-bg{
    background-color: rgb(0,0,0,0.53);
    padding: 8px;
    margin: 1rem auto 1rem auto;
    width: 50vw;
    height: max-content;
}

.expense-form{
    font-size: 20px;
    color: #f5d7d7;
    height: 30vh;
    border-radius: 12px;
    padding: 0.5rem;
    text-align: center;
    margin: 1rem auto 1rem auto;
}

.expense-form input{
    background-color: #04eca6;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    color: #024632;
    border: none;
    margin: 0.4rem auto 0.4rem auto;
    border-radius: 12px;
    width: 94%;
    height: 2rem;
}

.expense-form label{
    margin-right: 80%;
    margin-left: 3%;
}

.expense-form-btn{
    background-color: #03773b;
    color:#c9f4ca;
    font-size: 18px;
    font-weight: bold;
    padding: 2px;
    margin: 8px;
    border-radius: 8px;
    border: none;
    width: 30%;
    height: 4vh;
    cursor: pointer;
}

.expense-form-btn:hover{
    background-color: #29792a;
}